.box__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  background: #fff;
  z-index: 100;
  &.sub {
    border-bottom: 1px solid #e5e5e5;
  }
  .logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-indent: -999px;
    background: url("../images/logo3.png") no-repeat 0 50%;
    background-size: 100% auto;
    overflow: hidden;
  }
}

.theme-black {
  background: var(--themeBlack);
  .box__header {
    background: var(--themeBlack);
    &.sub {
      border-bottom: 1px solid #444;
    }
    .logo {
      background-image: url("../images/logo-white.png");
    }
  }
}
