.box__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px 10px;
  background: #fff;
  z-index: 100;
  &.sub {
    border-bottom: 1px solid #e5e5e5;
  }
  .box__inner {
    position: relative;
  }
  .logo {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    text-indent: -999px;
    background: url("../images/logo3.png") no-repeat 0 50%;
    background-size: 100% auto;
    overflow: hidden;
    & a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .button__back {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 36px;
    height: 50px;
    &:before {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
      background: url("../images/icon/icon__button-arrow.png") no-repeat center /
        100%;
      transform: rotate(90deg);
    }
  }
  .link__myg {
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    .icon {
      display: block;
      width: 36px;
      margin-left: -4px;
    }
  }
}

.theme-black {
  background: var(--themeBlack);
  .box__header {
    background: var(--themeBlack);
    &.sub {
      border-bottom: 1px solid #444;
    }
    .logo {
      background-image: url("../images/logo-white.png");
    }
  }
}
