.box__issue {
  position: relative;
  padding-top: 60px;
  .box__tab-container {
    position: relative;
    z-index: 0;
  }
  .box__tab {
    position: fixed;
    top: 60px;
    left: 50%;
    width: 100%;
    max-width: var(--maxWidth);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    background-color: #fff;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 100;
  }
  .tab-content {
    position: relative;
    margin: 51px 0 70px;
  }
  .box__card-wrap {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    &.active {
      display: flex;
    }
  }
  .theme-black & {
    .box__tab {
      background-color: var(--themeBlack);
      border-color: var(--themeBlackSub);
      .nav-link {
        &.active {
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.8);
          border-color: var(--themeBlackSub);
        }
      }
    }
    .card {
      background: var(--themeBlack);
      border-color: var(--themeBlackSub);
    }
  }
}
.box__card-issue {
  position: relative;
  width: 100%;
  margin-bottom: 5px;
  .link {
    position: relative;
    display: flex;
    width: 100%;
    padding-right: 40px;
    border: none;
    background: transparent;
    flex-direction: row;
    align-items: center;
    z-index: 0;
  }
  @media all and (min-width: 450px) {
    width: calc(50% - 8px);
    margin-right: 15px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  .box__thumb {
    width: 70px;
    height: 70px;
  }
  .box__text {
    width: 100%;
    .text__title {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .button__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 15px;
      height: 15px;
      background: url("../images/icon/icon__favorite.png") no-repeat center /
        100%;
      transform: translate(-50%, -50%);
    }
    &--active {
      &:before {
        background-image: url("../images/icon/icon__favorite-active.png");
        animation: favoriteMotion 0.4s ease;
      }
    }
    @keyframes favoriteMotion {
      0% {
        transform: translate(-50%, -50%) scale(1);
      }
      50% {
        transform: translate(-50%, -50%) scale(1.3);
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}
.box__keyword-filter {
  position: fixed;
  top: 60px;
  right: 16px;
  width: 100px;
  padding: 5px 0;
  z-index: 110;
  .box__dimmed {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  .list__keyword {
    position: relative;
    padding: 0 10px;
    height: 26px;
    background-color: rgba(66, 66, 66, 0.2);
    border-radius: 12px;
    overflow: hidden;
    z-index: 10;
    .swiper-slide {
      font-size: var(--fontSize);
      line-height: 26px;
    }
    .text__rank {
      position: relative;
      margin-right: 12px;
      opacity: 0.4;
      &:after {
        content: "";
        position: absolute;
        top: calc(50% - 5px);
        right: -7px;
        display: block;
        width: 1px;
        height: 10px;
        background: var(--fontColor);
      }
    }
    .text {
      font-weight: bold;
    }
  }
  &.box__keyword-filter--active {
    .list__keyword {
      position: relative;
      height: 100%;
      padding: 5px 10px;
      background-color: rgba(66, 66, 66, 0.7);
      z-index: 10;
    }
    .box__dimmed {
      display: block;
    }
  }
  .theme-black & {
    .list__keyword {
      background-color: rgba(255, 255, 255, 0.1);
      .text__rank {
        &:after {
          background: var(--themeBlackColor);
        }
      }
    }

    &.box__keyword-filter--active {
      .list__keyword {
        background-color: rgba(89, 89, 89, 0.98);
      }
    }
  }
}
