@charset "utf-8";

@import url("./styles/fonts.css");
@import url("./styles/header.scss");
@import url("./styles/footer.scss");
@import url("./styles/isuue.scss");
@import url("./styles/grade.scss");
@import url("./styles/sitemap.scss");
@import url("./styles/weather.scss");
@import url("./styles/product.scss");

:root {
  --fontSize: 12px;
  --fontColor: #424242;
  --maxWidth: 768px;
  --themeBlack: #222;
  --themeBlackSub: #444;
  --themeBlackColor: #fff;
}
body {
  margin: 0;
  padding: 0;
  font-size: var(--fontSize);
  color: var(--fontColor);
}
*,
p,
div,
ul,
ol,
dl,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
#wrap {
  min-height: calc(100vh - 60px);
}
a {
  color: var(--fontColor);
  text-decoration: none;
}
.box__inner {
  max-width: 768px;
  margin: 0 auto;
}
.for-a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  font-size: 0;
  text-indent: -999px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.box__floating {
  position: fixed;
  bottom: 80px;
  right: 10px;
  .button__top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    background: #fff;
    .text {
      font-size: 10px;
      line-height: 10px;
      &:before {
        content: "";
        display: block;
        width: 15px;
        height: 10px;
        margin: 0 auto;
        background: url("./images/icon/icon__arrow.png") no-repeat center / 100%;
        transform: rotate(180deg);
      }
    }
    .theme-black & {
      background: var(--themeBlack);
      .text {
        color: var(--themeBlackColor);
      }
    }
  }
  @media (min-width: 768px) {
    right: calc((50% - 440px));
  }
}
.box__component-title {
  margin-bottom: 20px;
}
.text__empty {
  width: 100%;
  padding: 50px 0;
  border-radius: 8px;
  background: #f5f5f5;
  text-align: center;
  &:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    background: url("./images/icon/image__empty.png") no-repeat center / 100%;
  }
  .theme-black & {
    background: rgba(255, 255, 255, 0.1);
    color: var(--themeBlackColor);
  }
}
.page__sub {
  padding-top: 90px;
  padding-bottom: 80px;
}
.box__user-info {
  margin-bottom: 20px;
}
.box__notice {
  padding: 10px;
  margin-top: 15px;
  background-color: #f8f9fa;
  .theme-black & {
    background-color: var(--themeBlackSub);
  }
}
.box__user {
  .link__login {
    display: inline-block;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
  }
  .button__logout {
    display: inline-block;
    padding: 5px 10px;
    margin-left: 5px;
    color: var(--fontColor);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background: none;
    vertical-align: top;
  }
  .text__grade {
    display: inline-block;
    width: 30px;
    height: 30px;
    padding: 2px;
    margin-right: 5px;
    background: #e5e5e5;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    vertical-align: top;
    .image {
      max-width: 25px;
    }
  }
  .text__name {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    vertical-align: top;
  }
  .theme-black & {
    .button__logout {
      color: var(--themeBlackColor);
      border: 1px solid #e0e0e0;
    }
  }
}
.box__code {
  display: block;
  padding: 10px;
  color: #fff;
  background: #000;
  border-radius: 10px;
  .text__comment {
    color: #33ff33;
  }
}
.box__component-word {
  .box__card {
    padding: 20px;
  }
  .box__word {
    position: relative;
    padding: 0 25px;
    text-align: center;
    .button__prev {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 25px;
      height: 25px;
      margin-bottom: 5px;
      background: url("./images/icon/prev.png") no-repeat 0 0 / 100% 100%;
      border: none;
      transform: translateY(-50%);

      .theme-black & {
        background-image: url("./images/icon/prev_theme.png");
      }
    }
    .button__listen {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 25px;
      height: 25px;
      background: url("./images/icon/icon__listen.png") no-repeat 0 0 / 100%
        100%;
      border: none;
      transform: translateY(-50%);

      .theme-black & {
        background-image: url("./images/icon/icon__listen_theme.png");
      }
    }
    .text__word {
      font-weight: bold;
      font-size: 35px;
    }
  }
  .button__confirm {
    margin-top: 20px;
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 6px;
    background: #f5f5f5;
    border: none;
  }
  .box__buttons {
    margin-top: 20px;
    text-align: center;
    .button__word {
      display: inline-block;
      padding: 10px 20px;
      text-align: center;
      background: none;
      border-radius: 6px;
      border: 1px solid #e5e5e5;
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
.box__accordion-group {
  max-width: var(--maxWidth);
  margin: 0 auto 50px;
  .box__accordion + .box__accordion {
    margin-top: 8px;
  }
}
.box__accordion {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  .box__accordion-title {
    position: relative;
    padding-left: 30px;
    .button__accordion {
      position: relative;
      width: 100%;
      padding: 10px 40px 10px 10px;
      font-size: 14px;
      color: var(--fontColor);
      border: none;
      background: transparent;
      text-align: left;
      &:after {
        content: "";
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        display: block;
        width: 20px;
        height: 20px;
        background: url("./images/icon/icon__button-arrow.png") no-repeat center /
          100%;
      }
    }
    .button__favorite {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 30px;
      height: 100%;
      padding-left: 10px;
      border: 0;
      background: none;
      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
        background: #fff url("./images/icon/icon__star.png") no-repeat center /
          100%;
      }
      &--active {
        &:after {
          border: 2px solid #ffd400;
          background-image: url("./images/icon/icon__star-active.png");
        }
      }
    }
  }
  .box__accordion-content {
    display: none;
    padding: 10px;
    word-wrap: break-word;
    border-top: 1px solid #eeeeee;
    background: #f5f5f5;
    img {
      max-width: 100%;
    }
  }
  &.box__accordion--active {
    .button__accordion:after {
      transform: rotate(180deg);
    }
    .box__accordion-content {
      display: block;
    }
  }

  .theme-black & {
    border-color: var(--themeBlackSub);
    .box__accordion-title {
      .button__accordion {
        color: var(--themeBlackColor);
        &:after {
          background-image: url("./images/icon/icon__button-arrow_theme.png");
        }
      }
      .button__favorite:after {
        background-color: var(--themeBlack);
        border-color: var(--themeBlackSub);
      }
    }
    .box__accordion-content {
      border-color: var(--themeBlackSub);
      background: var(--themeBlackSub);
    }
  }
}

.theme-black {
  background: var(--themeBlack);
  * {
    color: var(--themeBlackColor);
  }
  .card {
    background: rgba(255, 255, 255, 0.1);
    .card-body * {
      color: var(--themeBlackColor);
    }
  }
}
