@charset "utf-8";

@import url("./styles/fonts.css");
@import url("./styles/header.scss");
@import url("./styles/footer.scss");

:root {
  --fontSize: 12px;
  --fontColor: #424242;
  --maxWidth: 768px;
}
body {
  margin: 0;
  padding: 0;
  font-size: var(--fontSize);
  color: var(--fontColor);
}
*,
p,
div,
ul,
ol,
dl,
li {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}
a {
  color: var(--fontColor);
  text-decoration: none;
}
.box__inner {
  max-width: 768px;
  margin: 0 auto;
}
.for-a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  font-size: 0;
  text-indent: -999px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.box__floating {
  position: fixed;
  bottom: 80px;
  right: 10px;
  .button__top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    background: #fff;
    .text {
      font-size: 10px;
      line-height: 10px;
      &:before {
        content: "";
        display: block;
        width: 15px;
        height: 10px;
        margin: 0 auto;
        background: url("./images/icon/icon__arrow.png") no-repeat center / 100%;
        transform: rotate(180deg);
      }
    }
  }
  @media (min-width: 768px) {
    right: calc((50% - 440px));
  }
}
.box__component-title {
  margin-bottom: 20px;
}
.box__issue {
  position: relative;
  padding-top: 60px;
  .box__tab {
    position: fixed;
    top: 60px;
    left: 50%;
    width: 100%;
    max-width: var(--maxWidth);
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    background-color: #fff;
    transform: translateX(-50%);
    box-sizing: border-box;
    z-index: 100;
  }
  .tab-content {
    position: relative;
    margin: 51px 0 70px;
  }
  .box__card-wrap {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    &.active {
      display: flex;
    }
  }
}
.box__card-issue {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
  .link {
    display: flex;
    width: 100%;
    padding-right: 40px;
    border: none;
    background: transparent;
    flex-direction: row;
    align-items: center;
  }
  @media all and (min-width: 450px) {
    width: calc(50% - 8px);
    margin-right: 15px;
    &:nth-child(even) {
      margin-right: 0;
    }
  }
  .box__thumb {
    width: 70px;
    height: 70px;
  }
  .box__text {
    width: 100%;
    .text__title {
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
  .button__favorite {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: 15px;
      height: 15px;
      background: url("./images/icon/icon__favorite.png") no-repeat center /
        100%;
      transform: translate(-50%, -50%);
    }
    &--active {
      &:before {
        background-image: url("./images/icon/icon__favorite-active.png");
        animation: favoriteMotion 0.4s ease;
      }
    }
    @keyframes favoriteMotion {
      0% {
        transform: translate(-50%, -50%) scale(1);
      }
      50% {
        transform: translate(-50%, -50%) scale(1.3);
      }
      100% {
        transform: translate(-50%, -50%) scale(1);
      }
    }
  }
}
.text__empty {
  width: 100%;
  padding: 50px 0;
  border-radius: 8px;
  background: #f5f5f5;
  text-align: center;
  &:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto 20px;
    background: url("./images/icon/image__empty.png") no-repeat center / 100%;
  }
}
.page__sub {
  padding-top: 90px;
  margin-bottom: 60px;
  .list__grade {
    display: flex;
    max-width: var(--maxWidth);
    margin: 0 auto;
    flex-wrap: wrap;
    .list-item {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 15px;
      align-items: center;

      @media all and (min-width: 400px) {
        max-width: calc(50% - 8px);
        margin-right: 15px;
        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }
    .box__icon {
      width: 90px;
      height: 90px;
      padding: 10px;
      margin-right: 20px;
      border-radius: 50%;
      border: 2px solid #e5e5e5;
      text-align: center;
      .image {
        max-height: 100%;
      }
    }
    .box__info {
      flex: 1;
      .text__title {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 16px;
      }
      .text__desc {
        padding: 0;
        margin: 0;
      }
    }
  }
  .box__user-info {
    margin-bottom: 20px;
    .link__login {
      display: inline-block;
      border: none;
      background: none;
      font-weight: bold;
      font-size: 20px;
      vertical-align: top;
    }
    .button__logout {
      display: inline-block;
      padding: 5px 10px;
      margin-left: 5px;
      color: var(--fontColor);
      border: 1px solid #e0e0e0;
      background: #fff;
      vertical-align: top;
    }
    .text__name {
      display: inline-block;
      font-weight: bold;
      font-size: 20px;
    }
    .box__notice {
      padding: 10px;
      margin-top: 15px;
      background-color: #f8f9fa;
    }
  }
  &.box__sitemap {
    display: flex;
    align-items: center;
    .box__inner {
      flex: 1;
    }
    .list__sitemap {
      display: flex;
      margin-top: 20px;
      flex-wrap: wrap;
      .list-item {
        position: relative;
        width: 25%;
        margin-bottom: 15px;
        text-align: center;
        .icon__badge {
          position: absolute;
          top: 0;
          left: calc(50% - 35px);
        }
        .image {
          width: 35px;
          height: 35px;
        }
        .text {
          margin-top: 5px;
        }
      }
    }
  }
  &.box__mypage-board {
    .box__title {
      margin-bottom: 20px;
    }
    .box__tab {
      margin-bottom: 15px;
    }
    .box__tab-content {
      position: relative;
      display: none;
      margin-bottom: 60px;
      flex-wrap: wrap;
      &.active {
        display: flex;
      }
    }
    .box__card {
      position: relative;
      width: 100%;
      margin-bottom: 15px;
      @media all and (min-width: 450px) {
        width: calc(50% - 8px);
        margin-right: 15px;
        &:nth-child(even) {
          margin-right: 0;
        }
      }
    }
  }
  &.page__voca {
    .box__component-weather {
      position: fixed;
      top: 16px;
      right: 16px;
      z-index: 110;
      .image {
        width: 25px;
      }
    }
    .box__component-word {
      .box__card {
        padding: 20px;
      }
      .box__word {
        display: flex;
        .button__prev {
          display: block;
          width: 25px;
          height: 25px;
          margin-bottom: 5px;
          background: url("./images/icon/prev.png") no-repeat 0 0 / 100% 100%;
          border: none;
        }
        .button__listen {
          display: block;
          width: 25px;
          height: 25px;
          background: url("./images/icon/icon__listen.png") no-repeat 0 0 / 100%
            100%;
          border: none;
        }
        .text__word {
          flex: 1;
          font-weight: bold;
          font-size: 35px;
          text-align: center;
        }
      }
      .button__confirm {
        margin-top: 20px;
        display: block;
        width: 100%;
        padding: 15px;
        border-radius: 6px;
        background: #f5f5f5;
        border: none;
      }
      .box__buttons {
        margin-top: 20px;
        text-align: center;
        .button__word {
          display: inline-block;
          padding: 10px 20px;
          text-align: center;
          background: none;
          border-radius: 6px;
          border: 1px solid #e5e5e5;
          &:not(:last-child) {
            margin-right: 10px;
          }
        }
      }
    }
  }
  &.page__tech {
    .box__component-title-wrap {
      position: relative;
      transition: padding 0.2s ease;
      .box__select {
        position: absolute;
        top: 0;
        right: 0;
        .form__select {
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid #e5e5e5;
          border-radius: 4px;
          background: transparent;
          appearance: none;
          background: url("./images/icon/icon__arrow.png") no-repeat center
            right 8px / 12px;
        }
      }
      &.fixed {
        position: fixed;
        top: 60px;
        left: 50%;
        width: 100%;
        padding: 10px 10px;
        background: #fff;
        transform: translateX(-50%);
        border-bottom: 1px solid #e0e0e0;
        z-index: 10;
        @media (min-width: 576px) {
          max-width: 520px;
          padding: 20px 0;
        }
        @media (min-width: 768px) {
          max-width: 720px;
        }
        @media (min-width: 992px) {
          max-width: 768px;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 0;
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
        .box__component-title {
          margin-bottom: 0;
          .text__h2 {
            margin: 0;
            font-size: 20px;
            line-height: 30px;
          }
          .text__sub {
            display: none;
          }
        }
        .box__select {
          top: 10px;
          right: 10px;
          @media (min-width: 768px) {
            top: 20px;
          }
        }
        & + .accordion {
          padding-top: 100px;
        }
      }
    }
    .box__code {
      display: block;
      padding: 10px;
      color: #fff;
      background: #000;
      border-radius: 10px;
      .text__comment {
        color: #33ff33;
      }
    }
  }
}
.box__accordion-group {
  max-width: var(--maxWidth);
  margin: 0 auto 50px;
  .box__accordion + .box__accordion {
    margin-top: 8px;
  }
}
.box__accordion {
  border: 1px solid #eeeeee;
  border-radius: 8px;
  .box__accordion-title {
    position: relative;
    padding-left: 30px;
    .button__accordion {
      position: relative;
      width: 100%;
      padding: 10px 40px 10px 10px;
      font-size: 14px;
      color: var(--fontColor);
      border: none;
      background: transparent;
      text-align: left;
      &:after {
        content: "";
        position: absolute;
        top: calc(50% - 10px);
        right: 10px;
        display: block;
        width: 20px;
        height: 20px;
        background: url("./images/icon/icon__button-arrow.png") no-repeat center /
          100%;
      }
    }
    .button__favorite {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 30px;
      height: 100%;
      padding-left: 10px;
      border: 0;
      background: none;
      &:after {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #e5e5e5;
        background: #fff url("./images/icon/icon__star.png") no-repeat center /
          100%;
      }
      &--active {
        &:after {
          border: 2px solid #ffd400;
          background-image: url("./images/icon/icon__star-active.png");
        }
      }
    }
  }
  .box__accordion-content {
    display: none;
    padding: 10px;
    word-wrap: break-word;
    border-top: 1px solid #eeeeee;
    background: #f5f5f5;
    img {
      max-width: 100%;
    }
  }
  &.box__accordion--active {
    .button__accordion:after {
      transform: rotate(180deg);
    }
    .box__accordion-content {
      display: block;
    }
  }
}
